.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
  height: 100%;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: 'IntelClear_Rg';
  height: 100%;
}

.chooser-screen {
  background-color: #fff;
  position: relative;
  height: 100%;
}

.tuc_body {
  background-color: #082d3e;
}

/*.guagerow {
  height: 400px;
}*/

/*body,
.navbar-fixed-top {
  min-width: 1366px;
}
*/
/*.container {
  width: 1366px;
  max-width: none !important;
}*/

.navbar-inverse {
  background-color: #0071c5;
  border-color: #0071c5;
}

.navbar-title{
	margin-top: 15px;
	margin-bottom: 15px;
	color: #FFF;
}

.navbar-back{
	font-size: 16px;
	color: #FFF;
}

.lead {
  font-size: 16px;
}

a {
	color: #FFF;
}

a:hover {
  color: #cccccc;
  text-decoration: none;
}

.container-video {
  position: absolute;
  width: 100%;
  margin-top: -86px;
  padding: 0;
}

.usecase_steps {
	color: #FFF;
	font-size: 18px;
	opacity: 0.5;
	font-family: 'IntelClear_Lt';
}

#step1a img,
#step2a img,
#step3a img,
#step4a img {
 box-shadow: 0px 0px 65px #fff;
}

/*====*/

 .btn-truck {
   background-color: rgb(8, 45, 62);
   width: 100%;
 }

 .btn-truck-ph {
   opacity: 0;
   width: 100%;
 }

/*====*/

.sensor {
  text-align: center;
  color: #FFF;
  font-size: 2.0rem;
  font-family: 'IntelClear_Rg'
}

.increasethreshold {
  position: absolute;
  width: 50px;
  height: 70px;
  left: 50px;
  top: 20px;
  cursor: pointer;
  z-index: 100;
  font-size: 25px;
  opacity: 0.7;
}

.increasethreshold:before {
  content: "THRESHOLD";
  font-size: 14px;
  opacity: 1;
  color: #00FFFF;
  margin-left: -10px;
}

.decreasethreshold {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50px;
  top: 140px;
  cursor: pointer;
  z-index: 100;
  font-size: 25px;
  opacity: 0.7;
}

.tempsensor {
  zoom: 1.2;
}

.tempheader{
  padding-top: 5px;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.tempsensor span.selected {
  font-family: 'IntelClear_Bd';
  color: #00FFFF;
}

.tempgauge {
  position: absolute;
  left: 50px;
	zoom: 1.5;
}

.arc {
    stroke-weight: 0.1;
    fill: #e1e1e1;
}

.thresholdArc {
  position: absolute;
  left: 45px;
  top: 25px;
}

.thresholdArc .arc {
    stroke-weight: 0.1;
    fill: #00FFFF;
}

.thresholdArc .component {
    fill: #FFFFFF;
}

.txtthreshold {
  font-size: 2.3rem;
  font-family: 'IntelClear_Lt';
  fill: #e1e1e1;
}

.txtcurrent {
  font-size: 4rem;
  font-family: 'IntelClear_Lt';
  display: none;
}

.txtthreshold {
  fill: #00FFFF;
}

.txtcurrent {
  fill: #00A14B;
  display: block;
}

.currentArc {
  position: absolute;
  left: 50px;
  top: 30px;
}

.currentArc .arc {
    stroke-weight: 0.1;
    fill: #38B449;
}

.currentArc .component {
    fill: #e1e1e1;
}

.currentArc g.problem .arc {
    stroke-weight: 0.1;
    fill: #EC1B23;
}

.currentArc g.problem .txtcurrent {
    fill: #EC1B23;
}

g.images image {
	display: block;
}

.selectedRadial {
    border-radius: 3px;
    background: #f4f4f4;
    color: #000;
    fill: #FFFFFF;
}

.radial {
    border-radius: 3px;
    background: #FFFFFF;
    color: #000;
}

/* CHART */

#canvas-holder1 {
    width: 100%;
    margin: 20px auto;
}

canvas {
	width: 300px;
	height: 250px;
}

/*TABLE*/

.parts-hover{
  opacity: 0.5;
}

.parts-hover:hover{
  opacity: 1;
}

.popover {
  position: absolute;
}

.modal-footer {
  background-color: #0071c5;
}

.modal-title,
.popover-title {
  color: #0071c5;
  font-family: 'IntelClear_Bd';
}

.btn-lg {
  width: 25%;
}

.alarm .table_temperature, .alarm .table_status {
  color: #EC1B23;
  font-weight: bold;
}

.exceeded {
  color: red;
}

.close {
  font-size: 60px;
  color: red;
}

.close:focus,.close:hover {
  color: red;
}

.popover-title,
.popover-content {
  font-size: 16px;
}

.popover-content img {
  width: 100%;
}

.popover {
  width: 30%;
  max-width: 30%;
}

@media (max-width: 921px) {
  #t1sensor {
    zoom: 0.75;
  }

  h1 {
    font-size: 20px;
  }

  h4 {
    font-size: 12px;
  }

  .btn-lg {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
  }
}

@media (min-width: 922px) {
  #t1sensor {
    zoom: 0.95;
  }
}

@media (min-width: 1300px) {
  .modal-truck {
    width: 1250px;
  }

  #t1sensor {
    zoom: 1.2;
  }
}
#sensorModal{
  display: none;
}

#sensor-pop{
  display: none;
  /* width: 420px; */
  padding: 0px;
  position: absolute;
  left: 200px;
  top: 100px;
  background-color: #fff;
  border-radius: 13px;
}
#sensor-pop p{
  margin: 10px 0 10px;
  font-size: 1.5rem;
  text-align: center;
}
.sensor-pop-body{
  background-image: url(../images/hold_sensor.jpg);
  width: 369px;
  height: 713px;
  margin: 15px 15px;
  background-repeat: no-repeat;
  border-radius: 6px;
}

.btn-txt{
  font-size: 1.1rem;
  position: absolute;
  bottom: 8%;
  width: 60%;
  text-align: left;
  color: #fff;
  left: 18%;
}
}
.hidden .btn-txt{
  opacity: .5;
}
