
:root {
  --red:            #fc4c02;
  --blue:           #0071c5;
  --gray:           #555555;
  --light-blue:     #00aeef;
  --dark-blue:      #003c71;
  --light-gray:     #e5e5e5;
  --bright-gray:    #f2f2f2;
  --overlay-blue:   #062e54;
}